@model ABCClinicSystem.Models.ApplicationUser

@{
    ViewData["Title"] = "Add User";
}

<h2>Add New User</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="FullName"></label>
        <input asp-for="FullName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" type="email" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="RoleType"></label>
        <select asp-for="RoleType" class="form-control">
            <option value="Admin">Admin</option>
            <option value="Doctor">Doctor</option>
            <option value="Doctor">Manager</option>
            <option value="Patient">Patient</option>
        </select>
    </div>

    <div class="form-group">
        <label>Password</label>
        <input name="password" type="password" class="form-control" />
    </div>

    <br />
    <button type="submit" class="btn btn-success">Create</button>
    <a class="btn btn-secondary" asp-action="Index">Cancel</a>
</form>